body{
    font-size: arial, sans-serif;
    margin:0;
    padding:0;
    background-color: gray;
    color: #333;
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.tabla{
    width: 80% ;
    margin: 20px auto;
    background-color: gainsboro;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    padding:20px;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
tbody td{
    padding:10px;
    border-bottom:10px solid #ddd;
}
tbody tr :nth-child(even){
    background-color:#f9f9f9;
}
tbodytr :hover{
    background-color: #f1f1f1;
}

